*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Segoe UI;
}

body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(135deg,#4facfe,#00f2fe);
}

.container{
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
}

.login-box{
    width:350px;
    background:white;
    padding:40px;
    border-radius:20px;
    box-shadow:0 10px 30px rgba(0,0,0,0.2);
    text-align:center;
}

.login-box h2{
    margin-bottom:10px;
    color:#333;
}

.login-box p{
    margin-bottom:25px;
    color:gray;
}

.login-box input{
    width:100%;
    padding:14px;
    margin-bottom:15px;
    border:none;
    border-radius:10px;
    background:#f1f1f1;
    font-size:16px;
}

.login-box button{
    width:100%;
    padding:14px;
    border:none;
    border-radius:10px;
    background:#4facfe;
    color:white;
    font-size:16px;
    cursor:pointer;
    transition:0.3s;
}

.login-box button:hover{
    background:#0099ff;
}

.dashboard{
    width:500px;
    background:white;
    padding:40px;
    border-radius:20px;
    text-align:center;
    box-shadow:0 10px 30px rgba(0,0,0,0.2);
}

.dashboard h1{
    margin-bottom:20px;
}

.logout{
    display:inline-block;
    margin-top:20px;
    padding:12px 20px;
    background:red;
    color:white;
    text-decoration:none;
    border-radius:10px;
}